# Virtual environment
venv/

# Compiled Python files
*.pyc

# Logs
*.log

# Environment variables
.env

# Dependencies
__pycache__/
*.py[cod]
*$py.class

# Build files
build/
dist/
*.egg-info/

# Docker files
docker-compose.yml

# IDE specific files
.vscode/
.idea/

# Miscellaneous
.DS_Store